{% extends 'base.html.twig' %}

{% block title %}Modifier un Étudiant{% endblock %}

{% block body %}
<h1>Modifier l'Étudiant</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Modifier</button>
{{ form_end(form) }}

<a href="{{ path('admin_etudiant_index') }}">Retour à la liste</a>
{% endblock %}
